body{
    background-color: hsl(206, 94%, 87%);
}
.parentdiv{
    background-color: white;
    width:1000px;
    height:600px ;
    display:flex ;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top:150px;
    padding: 20px 0px 0px 0px;
}
.leftdiv{
    width:350px ;
    height:600px ;
    background-image: url('/home/sandrabest/source/swe-class/html/mictu_project/image/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    margin-left: 25px;
    
}
.rightdiv{
    width:600px;
    height:565px;
    background-color: white;
    border-radius: 10px;
    
    
}
.mum1{
    height:50px;
    width: 200px;
    margin: 30px 0px 10px 40px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    
}

.num{
    width: 30px;
    height: 30px; /* Adjust the height to be the same as the width for a circular shape */
    border-radius: 50%; /* Set border-radius to 50% for a perfect circle */
    background-color: hsl(206, 94%, 87%);
    margin-top: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.num p {
    color: darkslateblue;
    margin: 0; /* Remove padding and set margin to 0 for text alignment */
    text-align: center;
    font-size: 18px; /* Adjust font size to fit the circle */
    font-weight: bold;
}

.num2{
    width: 30px;
    height: 30px; /* Adjust the height to be the same as the width for a circular shape */
    border-radius: 50%; /* Set border-radius to 50% for a perfect circle */
    margin-top: 10px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border: 2px solid hsl(206, 94%, 87%);
}

.num2 p {
    color:rgb(250, 249, 246);
    margin: 0; /* Remove padding and set margin to 0 for text alignment */
    text-align: center;
    font-size: 18px; /* Adjust font size to fit the circle */
    font-weight: bold;
}


.step{
    width: 130px;
    height: 50px;
    padding: -20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:inherit;
    
}
.step p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color:rgb(250, 249, 246);
    text-align: left;


}

.step p span {
    font-size:10px;
    font-family: ;
    color:  hsl(204, 5%, 67%);
  
}




.info{
    width:550px ;
    height: 100px;
    background-color:white;
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.info p{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    

}
.info p span{
    text-align: left;
    font-size: 30px;
    color: hsl(210, 29%, 25%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 100px;
    background-color: #140663;
    color: white;
    padding: 14px 20px;
    margin: 100px 20px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:right;
  }
  
  input[type=button]:hover {
    background-color: #140663;
    text-align: right;
}

.myform{
    width: 550px;
    height: 400px;
    margin: 0px 0px 0px 0px ;
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.color{
    color: Marine blue: hsl(213, 96%, 18%)
    color:Purplish blue: hsl(243, 100%, 62%)
    - Pastel blue: hsl(228, 100%, 84%)
    - Light blue: hsl(206, 94%, 87%)
    - Strawberry red: hsl(354, 84%, 57%);
}
